# Dependencias
node_modules/

# Build
dist/
build/

# Variaveis de ambiente (NUNCA suba senhas pro GitHub)
.env
.env.development
.env.production

# Logs e sistema
npm-debug.log
.DS_Store
Thumbs.db
.idea/
.vscode/